body {
    background: #E9EDEE;
    font-family: 'Open Sans', sans-serif;
}

.home-section {
    background-image: url("../images/background-cars.jpg");
    background-size: cover;
}

h1 {
    font-weight: bold;
    color: #7fba26;
}

button, .button {
    background-color: #ff9505;
    color: #ffffff;
    padding: 10px 16px;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 5px;
}

button, .button:hover {
    background-color: #e08100;
}

.button:hover {
    color: #FFF !important;
}

li {
    margin-top: 5px;
    color: #777 !important;
}

section {
    margin-top: 70px;
}

.alert {
    transition-property: opacity;
    transition-duration: 1.5s;
    transition-delay: 0.5s;
}

.mid-container {
    max-width: 50%;
    margin: auto;
}
.navbar-nav a {
    color: #ff9505 !important;
}

a:hover {
    color: #f09000 !important;
    text-decoration: none;
}

.logo-site {
    height: 35px;
}

/* <<<<<<< stylizing-home */
.logo-card {
    height: 200px;
}

.card-style {
    height: 385px;
}

.card-style:hover {
    box-shadow: 1px 1px 12px rgba(0,0,0,0.2);
}

.t-over {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
/* ======= */
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

html{
    min-height: 100%;
    position: relative;
}

.copyright{
    color: #ff9505 !important;
}

main{
    margin-bottom: 56px;
/* >>>>>>> develop */
}

#js-event-search-submit{
    margin-top: 20%;
}
/* <<<<<<< stylizing-home */

.admin-btn {
    background: white;
}

.nav-link:hover {
    color: #7fba26 !important;
}

.scrollTable {
    background: white;
    margin-top: 15px;
}
=======
/* >>>>>>> develop */
