button {
    background-color: #ff9505;
    color: #ffffff;
    padding: 10px 16px;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 5px;
}

li {
    margin-top: 5px;
    color: #777 !important;
}

section {
    margin-top: 70px;
}

.alert {
    transition-property: opacity;
    transition-duration: 1.5s;
    transition-delay: 0.5s;
}

.mid-container {
    max-width: 50%;
    margin: auto;
}
.navbar-nav a {
    color: #ff9505 !important;
}

a:hover {
    color: #f09000 !important;
    text-decoration: none;
}
