<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>e-Motion</title>
</head>

<body>
<div class="example-wrapper">
    <h1 class="text-center">Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a
                        href="{{ '/Users/matthieuparis/Sites/e-motion/src/Controller/BillController.php'|file_link(0) }}">src/Controller/BillController.php</a></code>
        </li>
        <li>Your template at <code><a
                        href="{{ '/Users/matthieuparis/Sites/e-motion/templates/bill/index.html.twig'|file_link(0) }}">templates/bill/index.html.twig</a></code>
        </li>
    </ul>
</div>
</body>
</html>
