{% set banner = 'bg-promo-04.jpg' %}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5 mb-5">
        <h1 class="text-center mb-5">Cette page n'est pas disponible</h1>
        <p class="text-center"><a href="{{ path('home') }}">Retour à l'accueil</a></p>
    </div>

{% endblock %}
